<nav class="navbar navbar-expand-lg ">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li  class="stmat-roked-button"  routerLinkActive="active">
        <a class="nav-link" routerLink="Dashboard">Dashboard</a>
      </li>
      <li class="stmat-roked-button"  routerLinkActive="active">
        <a class="nav-link" routerLink="Resources-Master">Resources-Master</a>
      </li>
      <li  class="stmat-roked-button" routerLinkActive="active">
        <a class="nav-link" routerLink="Addition-Deletion">Addition-Deletion</a>
      </li>
      <li  class="stmat-roked-button" routerLinkActive="active">
        <a class="nav-link" routerLink="Movement-Tracker">Movement-Tracker</a>
      </li>
       </ul>
       <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
           </div>
       
  </div>
  <li  class="stmat-roked-button" routerLinkActive="active">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
</nav>